:root {
    --switch-color: #fff;
    --switch-bgcolor: #ccccccdd;
    --switch-active-color: #4d83af;
}

:root[data-theme="dark"] {
    --switch-color: #181a1b;
    --switch-bgcolor: #313536;
    --switch-active-color: #4d83af;
}

input[type="checkbox"].switch {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: var(--switch-bgcolor);
    border-radius: 10px;
    transition: border-color .25s, background-color .25s;
    margin: 0;
}

input[type="checkbox"].switch::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: var(--switch-color);
    box-shadow: 0, 0, 2px, #999;
    transition: .25s;
    top: 2px;
    position: absolute;
    left: 2px;
}

input[type="checkbox"].switch:checked {
    background: var(--switch-active-color);
}

input[type="checkbox"].switch:checked::after {
    content: '';
    position: absolute;
    left: 55%;
    top: 2px;
}
